{{#if resume.education.length }}
<section>
  <h2>Education</h2>
  {{#each resume.education}}
  <div class="item">
    <div class="overview">
      <div class="info description">
        {{institution}}, {{studyType}} in {{area}}
      </div>
      {{> tenure }}
    </div>
    {{#if courses.length}}
    <ul>{{#each courses }}<li>{{.}}</li>{{/each}}</ul>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}
