{{#if resume.skills.length}}
<section class="skills">
  <h2>Technologies and Proficiencies</h2>
  <table>
      {{#each resume.skills}}
      <tr>
          <td class="name">{{name}}</td>
          <td class="keywords"><ul>{{#each keywords}}<li>{{.}}</li>{{/each}}</ul></td>
      </tr>
      {{/each}}
  </table>
</section>
{{/if}}
