{{#if resume.work.length }}
<section id="work">
  <h2>Professional Experience</h2>
  {{#each resume.work}}

  <div class="item">
    <div class="overview">
      <div class="info description">{{company}}, {{position}}</div>
      {{> tenure }}
    </div>
    {{#if highlights.length}}
    <ul>
      {{#each highlights}}<li>{{.}}</li>{{/each}}
    </ul>
    {{/if}}
  </div>
  {{/each}}
</section>
{{/if}}
