body {
    font-family: "Trebuchet MS";
}

h1, h2 {
    font-family: "Tw Cen Mt";
    font-weight: 100;
}

section {
    flex-wrap: wrap;
    font-size: small;
}

.summary {
    display: flex;
    font-weight: light;
    font-size: small;
}

.skills table {
    border-collapse: collapse;
    margin-left: 10px;
    font-size: small;
}

.skills table .name {
    border-right: 1px solid lightslategray;
    vertical-align: text-top;
    white-space: nowrap;
    padding-right: 10px;
    font-weight: bold;
}

.skills table .keywords {
    padding-left: 10px;
}

.skills table tr + tr {
    margin-bottom: 5px;
}

.summary section {
    flex-grow: 1;
}

.summary .skills {
    width: 60%
}

.summary .skills h2 {
    margin-top: 0px;
}

.summary .skills ul {
    padding-left: 0px;
    list-style: none;
    display: inline;
}

.summary .skills li {
    display: inline;
}

.summary .skills li::after {
    content: ", ";
}

.summary .skills li:last-child::after {
    content: "";
}

.personal .name {
    font-size: xxx-large;
    margin-top: 0;
    margin-bottom: 0;
}

.overview {
    margin-left: 10px;
    display: flex;
    width: 100%;
}

.personal {
    text-align: right;
}

.personal ul {
    list-style: none;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.item .info {
    font-family: "Tw Cen Mt";
}

.item .description {
    width: 70%;
    font-weight: bold;
}

.item .dates {
    width: 30%;
    text-align: right;
    color: lightslategray;
}

@media print {
    .item ul {
        break-inside: avoid;
    }
}
